.App {
  background-color: #0e0f10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.ui.massive.button {
  font-size: calc(15px + 3vmin);
}

.ui.container {
  background: black;
  width: 65rem;
  height: 60vh;
  color: white;
  border: solid 5px white;
  border-radius: 10px;
  box-shadow: 5px 10px 6px 6px #888888;
}

.ui.grid>.row {
  padding-top: 30px;
}

.ui.grid>.row>.column {
  width: 11rem;
}

p {
  font-size: calc(15px + 3vmin);
}