.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ui.container {
  background: black;
  width: 65rem;
  height: 50vh;
}

/*.ui.grid>.row>.column {
  width: 7rem;
  padding: 0px;
}*/